<center><b>test</b></center> <br>
<center>test</center>           <br>
<center>test</center>                   <br>
<center>2023-07-03 16:23:48.367677</center>           <br>

---

### <u>Malware Samples</u>

[malware_source_link](test)
<br>

---

### <u>Static Analysis</u>

##### Malware Info:

###### Hashes:

| Hash | Value |
| ---- | ----- |
| md5 | 6fd6accd85eaaa1f2ff15684db84200f |
| sha1 | 4573a67b8c5e7431a61279c66846a5d73edc804f |
| sha256 | be28bf6f03ad4e26180194634e5bb5270199423575b8c35987e2495d8f108e43 |


###### Binary Info

| Info | Value |
| ---- | ----- |
| entrypoint | 4192 |
| file_type | E_TYPE.DYNAMIC |
| header_size | 64 |
| identity | [127, 69, 76, 70, 2, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0] |
| identity_abi_version | 0 |
| identity_class | ELF_CLASS.CLASS64 |
| identity_data | ELF_DATA.LSB |
| identity_os_abi | OS_ABI.SYSTEMV |
| identity_version | VERSION.CURRENT |
| machine_type | ARCH.x86_64 |
| numberof_sections | 31 |
| numberof_segments | 13 |
| object_file_version | VERSION.CURRENT |
| processor_flag | 0 |
| program_header_offset | 64 |
| program_header_size | 56 |
| section_header_offset | 13984 |
| section_header_size | 64 |
| section_name_table_idx | 30 |


##### Virus Total



###### Strings:

Note: Links Defanged Using [Cyber Chef](https://gchq.github.io/CyberChef/)

```
/lib64/ld-linux-x86-64.so.2
^ ~VITsH
__cxa_finalize
__libc_start_main
puts
libc.so.6
GLIBC_2.2.5
GLIBC_2.34
_ITM_deregisterTMCloneTable
__gmon_start__
_ITM_registerTMCloneTable
1I^HHPTE11H=
H=y/
H=I/
H5B/
H)HH?H
u+UH=.
HtH=.
Hello, world!
:*3$"
GCC: (Ubuntu 11.3.0-1ubuntu1~22.04.1) 11.3.0
Scrt1.o
__abi_tag
crtstuff.c
deregister_tm_clones
__do_global_dtors_aux
completed.0
__do_global_dtors_aux_fini_array_entry
frame_dummy
__frame_dummy_init_array_entry
test_c_bin.c
__FRAME_END__
_DYNAMIC
__GNU_EH_FRAME_HDR
_GLOBAL_OFFSET_TABLE_
__libc_start_main@GLIBC_2.34
_ITM_deregisterTMCloneTable
puts@GLIBC_2.2.5
_edata
_fini
__data_start
__gmon_start__
__dso_handle
_IO_stdin_used
_end
__bss_start
main
__TMC_END__
_ITM_registerTMCloneTable
__cxa_finalize@GLIBC_2.2.5
_init
.symtab
.strtab
.shstrtab
.interp
.note.gnu.property
.note.gnu.build-id
.note.ABI-tag
.gnu.hash
.dynsym
.dynstr
.gnu.version
.gnu.version_r
.rela.dyn
.rela.plt
.init
.plt.got
.plt.sec
.text
.fini
.rodata
.eh_frame_hdr
.eh_frame
.init_array
.fini_array
.dynamic
.data
.bss
.comment

```

---

### <u>Dynamic Analysis</u>

##### Network Indicators:

##### Host Indicators:

---

### <u>Binary/Executable Analysis</u>

--- 
